form {
    margin: 20px auto;
}

#id {
    display: none;
}

button~p {
    font-weight: 700;
    color: red;
    margin-top: 2px;
}

.text {
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 15px 50px;
}

.button {
    margin-left: 80px;
}

div button {
    background-color: #000;
}

div button:hover span {
    color: #000;
}

div button:active span {
    color: #fff;
}

div button:hover {
    background-color: #ccc;
}

.white {
    color: #fff;
}
  
input.password-input::-webkit-outer-spin-button,
input.password-input::-webkit-inner-spin-button {
    display: none;
}

input.password-input {
    -moz-appearance: textfield;
}

.input {
    width: 248px;
}

.card { 
    width: 300px;
}
