<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <form [formGroup]="formGroup" (ngSubmit)="save()">
            <input id="id" type="text" formControlName="id">
            <mat-card>
                <mat-card-content>
                    <fieldset>
                        <legend class="text">Register an user</legend>
                        <div>
                            <mat-form-field>
                                <mat-label>Enter your name</mat-label>
                                <input matInput formControlName="name">
                                <div *ngIf="error('name', 'pattern')">
                                    <mat-error>
                                        {{errorMessageName}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Enter your email</mat-label>
                                <input matInput formControlName="email">
                                <mat-error *ngIf="error('email', 'pattern')">
                                    {{errorMessageEmail}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label>Enter your CPF</mat-label>
                                <input matInput formControlName="cpf">
                                <mat-error *ngIf="error('cpf', 'errorCpf')">
                                    {{errorMessageCPF}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="button">
                            <button mat-stroked-button color="primary" type="submit">
                                <span class="white">Save user</span>
                            </button>
                            <p><strong id="invalidForm"></strong></p>
                        </div>
                    </fieldset>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>