<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <form [formGroup]="formGroup" (ngSubmit)="save()">
            <mat-card class="card">
                <mat-card-content>
                    <fieldset>
                        <legend class="text">Register an user</legend>
                        <div>
                            <mat-form-field class="input">
                                <mat-label>Enter your name</mat-label>
                                <input matInput formControlName="name">
                                <div *ngIf="error('name', 'pattern')">
                                    <mat-error>
                                        {{errorMessageName}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="input">
                                <mat-label>Enter your email</mat-label>
                                <input matInput formControlName="email">
                                <mat-error *ngIf="error('email', 'pattern')">
                                    {{errorMessageEmail}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                            <div class="password-input">
                                <mat-form-field>
                                  <mat-label>Enter your password</mat-label>
                                  <input matInput [type]="hide ? 'password' : 'text'"
                                  formControlName="password">
                                  <div>
                                    <mat-error *ngIf="error('password', 'passwordStrength')">
                                        {{errorMessagePassword}}
                                    </mat-error>
                                  </div>
                                  <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </mat-icon>
                                  </button>
                                </mat-form-field>
                            </div>
                        <div>
                            <mat-form-field class="input">
                                <mat-label>Enter your CPF</mat-label>
                                <input matInput formControlName="cpf" mask="000.000.000-00">
                                <mat-error *ngIf="error('cpf', 'errorCpf')">
                                    {{errorMessageCPF}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="button">
                            <button mat-stroked-button color="primary" type="submit">
                                <span class="white">Save user</span>
                            </button>
                            <p><strong id="invalidForm"></strong></p>
                        </div>
                    </fieldset>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
