form {
    margin: 20px auto;
}

.text-error {
    font-weight: 700;
    color: red;
    margin-top: 2px;
    margin-left: 210px;
}

.text {
    font-weight: 900;
    font-size: 20px;
}

.button {
    margin-left: 47px;
}

div button {
    background-color: #000;
    margin-right: 35px;
}

div button:hover span {
    color: #000;
}

div button:active span {
    color: #fff;
}

div button:hover {
    background-color: #ccc;
}

.white {
    color: #fff;
}