<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <form [formGroup]="formGroup" (ngSubmit)="save()">
            <div>
                <p><strong>User ID: </strong>{{id}}</p>
            </div>
            <mat-card>
                <mat-card-content>
                    <div>
                        <input id="id" type="hidden" formControlName="id" [value]="id">
                    </div>
                    <fieldset>
                        <legend class="d-flex justify-content-center text">Update an user</legend>
                        <div class="d-flex justify-content-center">
                            <mat-form-field class="input">
                                <mat-label>Enter your name</mat-label>
                                <input matInput formControlName="name">
                                <div *ngIf="error('name', 'pattern')">
                                    <mat-error>
                                        {{errorMessageName}}
                                    </mat-error>
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-form-field class="input">
                                <mat-label>Enter your email</mat-label>
                                <input matInput formControlName="email">
                                <mat-error *ngIf="error('email', 'pattern')">
                                    {{errorMessageEmail}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center password-input">
                            <mat-form-field>
                              <mat-label>Enter your password</mat-label>
                              <input matInput [type]="hide ? 'password' : 'text'"
                              formControlName="password">
                              <div>
                                <mat-error *ngIf="error('password', 'passwordStrength')">
                                    {{errorMessagePassword}}
                                </mat-error>
                              </div>
                              <button mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="button-visibility">
                                <mat-icon>
                                    {{hide ? 'visibility_off' : 'visibility'}}
                                </mat-icon>
                              </button>
                            </mat-form-field>
                        </div>
                        <div class="d-flex justify-content-center button">
                            <button mat-stroked-button color="primary" type="submit">
                                <span class="white">Update user</span>
                            </button>
                        </div>
                        <p><strong class="text-error" id="invalidForm"></strong></p>
                    </fieldset>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</div>
