html, body { 
    height: 100%;
}

body { 
    margin: 0;
    font-family: 'Trebuchet MS', 'Helvetica', sans-serif;
    background-color: #ccc;
}

.main-container {
    width: 100%;
    min-width: 620px;
}
